Package: fw-admin
Version: 1.0~rc1-1
Section: x11
Priority: optional
Architecture: all
Depends: iptables ( >= 1.4 ) , bash ( >= 4 ) , ipset ( >= 6.12.1), dnsutils
Installed-Size: 264 K
Maintainer: Arturo Borrero <aborrero@cica.es>
Homepage: https://github.com/aborrero/fw-admin
Description: Custom tool for managing a firewall
 This is a custom tool for managing a iptables firewall in dual stack mode.
 More info at homepage.
